.img{
    height: 200px;width: 200px; padding-top:15px;
}


p{
    color: white;
    text-align: center;  
    font-size: 1rem; 

}
h1{
    color: white;
    font-size: 3rem;
    text-align: center;
}

.loading{
    position:fixed;
    top: 45%;
    right: 50%;
    height: 100px;
    width: 100px;
    border: 8px solid white; 
    border-top: 8px solid black; 
    border-radius: 50%; 
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }